<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62682007036-u2ksvrim8g0ksias8gfd79pqs20onm4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62682007036-u2ksvrim8g0ksias8gfd79pqs20onm4e</string>
	<key>API_KEY</key>
	<string>AIzaSyDrd96z1fVS8C7M9houvK68DLT6R1-TMf8</string>
	<key>GCM_SENDER_ID</key>
	<string>62682007036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safebites</string>
	<key>PROJECT_ID</key>
	<string>safebites-huzaifa</string>
	<key>STORAGE_BUCKET</key>
	<string>safebites-huzaifa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62682007036:ios:b5757ffd727c107d59de79</string>
</dict>
</plist>